/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Enterovirus typing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile ev_typing,<docker/singularity/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'EV typing profile'
    config_profile_description = 'Recommended configuration for Enterovirus typing'

    // Input data for enterovirus typing
    platform  = 'illumina'
    taxidlist = "${params.pipelines_testdata_base_path}/genome/blastdb/ev_taxidlist.txt"
    blast_db  = "${params.pipelines_testdata_base_path}/genome/blastdb/minimal_ev_db.tar.gz"

    // Genome references
    genome     = 'NC_002058.3'
    kraken2_db = "${params.pipelines_testdata_base_path}/genome/kraken2/kraken2_hs22.tar.gz"
    perform_ev_typing = true

    // Skip Variant calling
    skip_variants = true

    // Assembly options
    assemblers = 'spades'
}

// Blast configuration options for EV typing
process {
    withName: '.*:.*:ASSEMBLY_SPADES:.*:BLAST_BLASTN' {
        ext.args = "-outfmt '6 stitle staxids sscinames std slen qlen qcovs' -max_target_seqs 100 -word_size 28 -task megablast -perc_identity 60 -evalue 0.05 -dust yes -qcov_hsp_perc 50"
        publishDir = [
            path: { "${params.outdir}/assembly/spades/${params.spades_mode}/blastn" },
            enabled: false
        ]
    }
}
