/*
 * -------------------------------------------------
 *  Nextflow config file for genome paths
 * -------------------------------------------------
 * Defines viral reference genomes
 */

params {
  // Genome reference file paths
  genomes {
    'NC_045512.2' {
      fasta        = "https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/reference/NC_045512.2.fasta"
      gff          = "https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/reference/NC_045512.2.gff"
    }
  }
}
