/*
 * -------------------------------------------------
 *  Nextflow config file for genome paths
 * -------------------------------------------------
 * Defines host/viral reference genomes
 */

params {
  // Genome reference file paths
  genomes {
    'human' {
      kraken2      = "/path/to/human_kraken_db.tar.gz"
      kraken2_name = "human"
    }
    'NC_045512.2' {
      fasta        = "https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/reference/NC_045512.2.fasta"
      gff          = "https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/reference/NC_045512.2.gff"
      kraken2      = "/path/to/viral_kraken_db.tar.gz"
      kraken2_name = "viral"
    }
  }
}
