/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for HIV typing and drug resistance testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile tes_hiv,<docker/singularity/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'HIV profile'
    config_profile_description = 'Recommended configuration for HIV'

    // Input data to test amplicon analysis
    platform               = 'illumina'

    // Genome references
    genome                 = 'codfreq'
    perform_hiv_resistance = true

    // Variant calling options
    variant_caller         = 'ivar'
    consensus_caller       = 'ivar'
    skip_pangolin          = true
    skip_freyja            = true
    skip_freyja_boot       = true

    // Assembly options
    skip_assembly = true
}
