/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = 'file_ext' and value = 'directory' to publish results for that file extension
 *                        The value of 'directory' is appended to the standard 'publish_dir' path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'sra_ids_to_runinfo' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_runinfo_to_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_fastq_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['fastq.gz':'', 'md5':'md5']
        }
        'sra_to_samplesheet' {
            publish_dir   = 'public_data'
            publish_files = false
        }
        'sra_merge_samplesheet' {
            publish_dir   = 'public_data'
        }
        'artic_clone_scheme' {
            publish_dir   = 'nanopore/genome'
        }
        'artic_collapse_primers' {
            publish_dir   = 'nanopore/genome'
        }
        'artic_snpeff_build' {
            publish_dir   = 'nanopore/genome/'
        }
        'artic_guppyplex' {
            args          = '--min-length 400 --max-length 700'
            publish_dir   = 'nanopore/artic_guppyplex'
        }
        'artic_minion' {
            args          = '--normalise 500'
            publish_dir   = "nanopore/${params.artic_minion_caller}"
        }
        'artic_filter_bam' {
            args          = '-b -F 4'
            suffix        = '.mapped'
            publish_dir   = "nanopore/${params.artic_minion_caller}"
        }
        'artic_filter_bam_stats' {
            suffix        = '.mapped'
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "nanopore/${params.artic_minion_caller}"
        }
        'artic_bcftools_stats' {
            publish_files = ['txt':'bcftools_stats']
            publish_dir   = "nanopore/${params.artic_minion_caller}/bcftools_stats"
        }
        'artic_pangolin' {
            publish_dir   = "nanopore/pangolin"
        }
        'artic_quast' {
            publish_files = ['quast':'']
            publish_dir   = "nanopore"
        }
        'artic_snpeff' {
            publish_files = ['csv':'', 'txt':'', 'html':'']
            publish_dir   = 'nanopore/snpeff'
        }
        'artic_snpeff_bgzip' {
            suffix        = '.snpeff'
            publish_dir   = 'nanopore/snpeff'
        }
        'artic_snpeff_tabix' {
            args          = '-p vcf -f'
	        suffix        = '.snpeff'
            publish_dir   = 'nanopore/snpeff'
        }
        'artic_snpeff_stats' {
            suffix        = '.snpeff'
            publish_files = ['txt':'bcftools_stats']
            publish_dir   = 'nanopore/snpeff'
        }
        'artic_snpsift' {
            publish_dir   = 'nanopore/snpeff'
        }
        'artic_multiqc' {
            args          = ''
            publish_files = ['_data':'', 'html':'', 'metrics_mqc.tsv':'']
            publish_dir   = 'nanopore/multiqc'
        }
        'bedtools_getfasta' {
            args          = '-s -nameOnly'
            publish_dir   = 'illumina/genome'
        }
        'collapse_primers_illumina' {
            publish_dir   = 'illumina/genome'
        }
        'bowtie2_build' {
            args          = '--seed 1'
            publish_dir   = 'illumina/genome/index'
        }
        'snpeff_build' {
            publish_dir   = 'illumina/genome/db'
        }
        'blast_makeblastdb' {
            args          = '-parse_seqids -dbtype nucl'
            publish_dir   = 'illumina/genome/db'
        }
        'kraken2_build' {
            args          = ''
            args2         = ''
            args3         = ''
            publish_dir   = 'illumina/genome/db'
        }
        'cat_fastq' {
            publish_dir   = 'illumina/fastq'
        }
        'fastqc_raw' {
            args          = '--quiet'
            publish_dir   = 'illumina/fastqc/raw'
        }
        'fastqc_trim' {
            args          = '--quiet'
            publish_dir   = 'illumina/fastqc/trim'
        }
        'fastp' {
            args          = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
            publish_files = ['json':'', 'html':'', 'log': 'log']
            publish_dir   = 'illumina/fastp'
        }
        'kraken2_run' {
            args          = '--report-zero-counts'
            publish_files = ['txt':'']
            publish_dir   = 'illumina/kraken2'
        }
        'bowtie2_align' {
            args          = '--local --very-sensitive-local --seed 1'
            args2         = '-F4'
            publish_files = ['log':'log']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'bowtie2_sort_bam' {
            suffix        = '.sorted'
            publish_files = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'ivar_trim' {
            args          = '-m 20 -q 20 -s 4'
            suffix        = '.ivar_trim'
            publish_files = ['log':'log']
            publish_dir   = 'variants/bowtie2'
        }
        'ivar_trim_sort_bam' {
            suffix        = '.ivar_trim.sorted'
            publish_files = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'picard_markduplicates' {
            args          = 'ASSUME_SORTED=true VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp'
            suffix        = '.markduplicates.sorted'
            publish_files = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'picard_markduplicates_sort_bam' {
            suffix        = '.markduplicates.sorted'
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'picard_collectwgsmetrics' {
            args          = 'COVERAGE_CAP=1000000 VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp'
            publish_files = ['metrics':'picard_metrics']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'picard_collectmultiplemetrics' {
            publish_files = ['metrics':'picard_metrics', 'pdf': 'picard_metrics/pdf']
            publish_dir   = 'illumina/variants/bowtie2'
        }
        'mosdepth_genome' {
            args          = '--fast-mode'
            publish_files = ['summary.txt':'']
            publish_dir   = 'illumina/variants/bowtie2/mosdepth/genome'
        }
        'plot_mosdepth_regions_genome' {
            args          = '--input_suffix .regions.bed.gz'
            publish_files = ['tsv':'', 'pdf': '']
            publish_dir   = 'variants/bowtie2/mosdepth/genome'
        }
        'mosdepth_amplicon' {
            args          = '--fast-mode --use-median --thresholds 0,1,10,50,100,500'
            publish_files = ['summary.txt':'']
            publish_dir   = 'illumina/variants/bowtie2/mosdepth/amplicon'
        }
        'plot_mosdepth_regions_amplicon' {
            args          = '--input_suffix .regions.bed.gz'
            publish_files = ['tsv':'', 'pdf': '']
            publish_dir   = 'illumina/variants/bowtie2/mosdepth/amplicon'
        }
        'samtools_mpileup' {
            args          = '--count-orphans --ignore-overlaps --no-BAQ --max-depth 0 --min-BQ 20'
            publish_files = false
            publish_dir   = 'illumina/variants/mpileup'
        }
        'ivar_variants' {
            args          = '-t 0.75 -q 20 -m 10'
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_variants_to_vcf' {
            publish_files = ['log':'log']
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_bcftools_bgzip' {
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_bcftools_tabix' {
            args          = '-p vcf -f'
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_bcftools_stats' {
            publish_files = ['txt':'bcftools_stats']
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_consensus' {
            args          = '-t 0.75 -q 20 -m 10 -n N'
            suffix        = '.consensus'
            publish_dir   = 'illumina/variants/ivar/consensus'
        }
        'ivar_consensus_plot' {
            suffix        = '.consensus'
            publish_dir   = 'illumina/variants/ivar/consensus/base_qc'
        }
        'ivar_snpeff' {
            publish_files = ['csv':'', 'txt':'', 'html':'']
            publish_dir   = 'illumina/variants/ivar/snpeff'
        }
        'ivar_snpeff_bgzip' {
            suffix        = '.snpeff'
            publish_dir   = 'illumina/variants/ivar/snpeff'
        }
        'ivar_snpeff_tabix' {
            args          = '-p vcf -f'
	        suffix        = '.snpeff'
            publish_dir   = 'illumina/variants/ivar/snpeff'
        }
        'ivar_snpeff_stats' {
            suffix        = '.snpeff'
            publish_files = ['txt':'bcftools_stats']
            publish_dir   = 'illumina/variants/ivar/snpeff'
        }
        'ivar_snpsift' {
            publish_dir   = 'illumina/variants/ivar/snpeff'
        }
        'ivar_quast' {
            publish_files = ['quast':'']
            publish_dir   = 'illumina/variants/ivar'
        }
        'ivar_pangolin' {
            publish_dir   = 'illumina/variants/ivar/pangolin'
        }
        'bcftools_mpileup' {
            args          = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR'
            args2         = '--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only'
            args3         = "--include 'INFO/DP>=10'"
            publish_files = ['gz':'', 'gz.tbi':'', 'stats.txt':'bcftools_stats']
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_consensus_genomecov' {
            args          = "-bga | awk '\$4 < 10'"
            suffix        = '.coverage'
            publish_files = false
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_consensus_merge' {
            suffix        = '.coverage.merged'
            publish_files = false
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_consensus_mask' {
            suffix        = '.coverage.masked'
            publish_files = false
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_consensus_maskfasta' {
            suffix        = '.masked'
	        publish_files = false
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_consensus_bcftools' {
            suffix        = '.consensus'
            publish_dir   = 'illumina/variants/bcftools/consensus'
        }
        'bcftools_consensus_plot' {
            suffix        = '.consensus'
            publish_dir   = 'illumina/variants/bcftools/consensus/base_qc'
        }
        'bcftools_snpeff' {
            publish_files = ['csv':'', 'txt':'', 'html':'']
            publish_dir   = 'illumina/variants/bcftools/snpeff'
        }
        'bcftools_snpeff_bgzip' {
	        suffix        = '.snpeff'
            publish_dir   = 'illumina/variants/bcftools/snpeff'
        }
        'bcftools_snpeff_tabix' {
            args          = '-p vcf -f'
	        suffix        = '.snpeff'
            publish_dir   = 'illumina/variants/bcftools/snpeff'
        }
        'bcftools_snpeff_stats' {
            suffix        = '.snpeff'
            publish_files = ['txt':'bcftools_stats']
            publish_dir   = 'illumina/variants/bcftools/snpeff'
        }
        'bcftools_snpsift' {
            publish_dir   = 'illumina/variants/bcftools/snpeff'
        }
        'bcftools_quast' {
            publish_files = ['quast':'']
            publish_dir   = 'illumina/variants/bcftools'
        }
        'bcftools_pangolin' {
            publish_dir   = 'illumina/variants/bcftools/pangolin'
        }
        'bcftools_isec' {
            args          = '--nfiles +2 --output-type z'
            publish_dir   = 'illumina/variants/intersect'
        }
        'cutadapt' {
            args          = '--overlap 5 --minimum-length 30 --error-rate 0.1'
            suffix        = '.primer_trim'
            publish_files = ['log':'log']
            publish_dir   = 'illumina/assembly/cutadapt'
        }
        'cutadapt_fastqc' {
            args          = '--quiet'
            suffix        = 'primer_trim'
            publish_dir   = 'illumina/assembly/cutadapt/fastqc'
        }
        'spades' {
            args          = ''
            publish_files = ['log':'log', 'fa':'', 'gfa':'']
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}"
        }
        'spades_bandage' {
            args          = '--height 1000'
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/bandage"
        }
        'spades_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/blastn"
        }
        'spades_abacas' {
            args          = '-m -p nucmer'
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/abacas"
        }
        'spades_plasmidid' {
            args          = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim'
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/plasmidid"
        }
        'spades_quast' {
            publish_files = ['quast':'']
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}"
        }
        'spades_snpeff' {
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/snpeff"
        }
        'spades_snpeff_bgzip' {
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/snpeff"
        }
        'spades_snpeff_tabix' {
            args          = '-p vcf -f'
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/snpeff"
        }
        'spades_snpeff_stats' {
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/snpeff"
        }
        'spades_snpsift' {
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/snpeff"
        }
        'spades_pangolin' {
            publish_dir   = "illumina/assembly/spades/${params.spades_mode}/pangolin"
        }
        'unicycler' {
            publish_files = ['log':'log', 'fa':'', 'gfa':'']
            publish_dir   = 'illumina/assembly/unicycler'
        }
        'unicycler_bandage' {
            args          = '--height 1000'
            publish_dir   = 'illumina/assembly/unicycler/bandage'
        }
        'unicycler_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = 'illumina/assembly/unicycler/blastn'
        }
        'unicycler_abacas' {
            args          = '-m -p nucmer'
            publish_dir   = 'illumina/assembly/unicycler/abacas'
        }
        'unicycler_plasmidid' {
            args          = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim'
            publish_dir   = 'illumina/assembly/unicycler/plasmidid'
        }
        'unicycler_quast' {
            publish_files = ['quast':'']
            publish_dir   = 'illumina/assembly/unicycler'
        }
        'unicycler_snpeff' {
            publish_dir   = 'illumina/assembly/unicycler/snpeff'
        }
        'unicycler_snpeff_bgzip' {
            publish_dir   = 'illumina/assembly/unicycler/snpeff'
        }
        'unicycler_snpeff_tabix' {
            args          = '-p vcf -f'
            publish_dir   = 'illumina/assembly/unicycler/snpeff'
        }
        'unicycler_snpeff_stats' {
            publish_dir   = 'illumina/assembly/unicycler/snpeff'
        }
        'unicycler_snpsift' {
            publish_dir   = 'illumina/assembly/unicycler/snpeff'
        }
        'unicycler_pangolin' {
            publish_dir   = 'illumina/assembly/unicycler/pangolin'
        }
        'minia' {
            args          = '-kmer-size 31 -abundance-min 20'
            publish_dir   = 'illumina/assembly/minia'
        }
        'minia_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = 'illumina/assembly/minia/blastn'
        }
        'minia_abacas' {
            args          = '-m -p nucmer'
            publish_dir   = 'illumina/assembly/minia/abacas'
        }
        'minia_plasmidid' {
            args          = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim'
            publish_dir   = 'illumina/assembly/minia/plasmidid'
        }
        'minia_quast' {
            publish_files = ['quast':'']
            publish_dir   = 'illumina/assembly/minia'
        }
        'minia_snpeff' {
            publish_dir   = 'illumina/assembly/minia/snpeff'
        }
        'minia_snpeff_bgzip' {
            publish_dir   = 'illumina/assembly/minia/snpeff'
        }
        'minia_snpeff_tabix' {
            args          = '-p vcf -f'
            publish_dir   = 'illumina/assembly/minia/snpeff'
        }
        'minia_snpeff_stats' {
            publish_dir   = 'illumina/assembly/minia/snpeff'
        }
        'minia_snpsift' {
            publish_dir   = 'illumina/assembly/minia/snpeff'
        }
        'minia_pangolin' {
            publish_dir   = 'illumina/assembly/minia/pangolin'
        }
        'multiqc_illumina' {
            args          = ''
            publish_files = ['_data':'', 'html':'', 'assembly_metrics_mqc.tsv':'assembly', 'variants_metrics_mqc.tsv':'variants']
            publish_dir   = 'illumina/multiqc'
        }
    }
}
