/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

def assemblers = params.assemblers ? params.assemblers.split(',').collect{ it.trim().toLowerCase() } : []
def callers    = params.callers    ? params.callers.split(',').collect{ it.trim().toLowerCase() }    : []

//
// General configuration options
//

process {
    withName: 'GUNZIP_.*' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }

    withName: 'MULTIQC_TSV_.*' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            enabled: false
        ]
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = '-parse_seqids -dbtype nucl'
        publishDir = [
            path: { "${params.outdir}/genome/db" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference
        ]
    }
}

//
// Variant calling configuration options
//

/// TODO
if (!params.skip_variants) {
    process {
        withName: 'NFCORE_VIRALRECON:ILLUMINA:.*:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
            publishDir = [
                path: { "${params.outdir}/variants/bowtie2/samtools_stats" },
                mode: 'copy',
                pattern: "*.{stats,flagstat,idxstats}"
            ]
        }

        withName: 'NFCORE_VIRALRECON:ILLUMINA:.*:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT' {
            ext.prefix = { "${meta.id}.sorted" }
            publishDir = [
                path: { "${params.outdir}/variants/bowtie2" },
                mode: 'copy',
                pattern: "*.bam"
            ]
        }

        withName: 'NFCORE_VIRALRECON:ILLUMINA:.*:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX' {
            publishDir = [
                path: { "${params.outdir}/variants/bowtie2" },
                mode: 'copy',
                pattern: "*.bai"
            ]
        }

        withName: BCFTOOLS_MPILEUP {
            ext.args  = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR'
            ext.args2 = '--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only'
            ext.args3 = "--include 'INFO/DP>=10'"
        }

        withName: BEDTOOLS_GENOMECOV {
            ext.args   = "-bga | awk '\$4 < 10'"
            ext.prefix = { "${meta.id}.coverage" }
        }

        withName: BEDTOOLS_MERGE {
            ext.prefix = { "${meta.id}.coverage.merged" }
        }

        withName: BCFTOOLS_CONSENSUS {
            ext.prefix = { "${meta.id}.consensus" }
        }
    }
}

//
// Optional configuration options
//

if (!params.skip_variants) {

    if (!params.skip_pangolin) {
        if ('ivar' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:PANGOLIN' {
                    publishDir = [
                        path: { "${params.outdir}/variants/ivar/pangolin" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if ('bcftools' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:PANGOLIN' {
                    publishDir = [
                        path: { "${params.outdir}/variants/bcftools/pangolin" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }

    if (!params.skip_nextclade) {
        if ('ivar' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:NEXTCLADE' {
                    publishDir = [
                        path: { "${params.outdir}/variants/ivar/nextclade" },
                        mode: 'copy',
                        pattern: "*.{csv}"
                    ]
                }
            }
        }

        if ('bcftools' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:NEXTCLADE' {
                    publishDir = [
                        path: { "${params.outdir}/variants/bcftools/nextclade" },
                        mode: 'copy',
                        pattern: "*.{csv}"
                    ]
                }
            }
        }
    }

    if (!params.skip_variants_quast) {
        if ('ivar' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:QUAST' {
                    publishDir = [
                        path: { "${params.outdir}/variants/ivar" },
                        mode: 'copy',
                        pattern: "quast"
                    ]
                }
            }
        }

        if ('bcftools' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:QUAST' {
                    publishDir = [
                        path: { "${params.outdir}/variants/bcftools" },
                        mode: 'copy',
                        pattern: "quast"
                    ]
                }
            }
        }
    }

    if (!params.skip_asciigenome) {
        process {
            withName: CUSTOM_GETCHROMSIZES {
                publishDir = [
                    path: { "${params.outdir}/genome" },
                    mode: 'copy',
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                    enabled: params.save_reference
                ]
            }
        }

        if ('ivar' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:ASCIIGENOME' {
                    publishDir = [
                        path: { "${params.outdir}/variants/ivar/asciigenome/${meta.id}" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }

        if ('bcftools' in callers) {
            process {
                withName: 'NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:ASCIIGENOME' {
                    publishDir = [
                        path: { "${params.outdir}/variants/bcftools/asciigenome/${meta.id}" },
                        mode: 'copy',
                        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                    ]
                }
            }
        }
    }
}

if (!params.skip_multiqc) {
    process {
        withName: MULTIQC {
            ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        }
    }
}

/// TO DO
// [93/ea0897] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:SNPEFF_SNPSIFT:SNPEFF_ANN (SAMPLE3_SE)                                    [100%] 3 of 3, cached: 3 ✔
// [0b/d97a14] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:TABIX_BGZIP (SAMPLE3_SE)             [100%] 3 of 3, cached: 3 ✔
// [77/4071f0] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:TABIX_TABIX (SAMP... [100%] 3 of 3, cached: 3 ✔
// [8e/c01c45] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:BCFTOOLS_STATS (S... [100%] 3 of 3, cached: 3 ✔
// [61/1cb303] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:SNPEFF_SNPSIFT:SNPSIFT_EXTRACTFIELDS (SAMPLE3_SE)                         [100%] 3 of 3, cached: 3 ✔
// [7b/5e0302] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:SNPEFF_SNPSIFT:SNPEFF_ANN (SAMPLE3_SE)                                [100%] 3 of 3, cached: 3 ✔
// [b4/288f58] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:TABIX_BGZIP (SAMPLE2_PE)         [100%] 3 of 3, cached: 3 ✔
// [11/7412d6] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:TABIX_TABIX (... [100%] 3 of 3, cached: 3 ✔
// [4a/ed30ad] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:BCFTOOLS_STAT... [100%] 3 of 3, cached: 3 ✔
// [ac/79f849] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:SNPEFF_SNPSIFT:SNPSIFT_EXTRACTFIELDS (SAMPLE2_PE)                     [100%] 3 of 3, cached: 3 ✔
// [93/aa472e] process > NFCORE_VIRALRECON:ILLUMINA:MULTIQC_TSV_IVAR_NEXTCLADE                                                              [100%] 1 of 1, cached: 1 ✔
// [8f/6c0551] process > NFCORE_VIRALRECON:ILLUMINA:MULTIQC_TSV_BCFTOOLS_NEXTCLADE                                                     [100%] 1 of 1, cached: 1 ✔
// [21/cd7130] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:CUSTOM_GETCHROMSIZES (nCoV-2019.reference.fasta)                         [100%] 1 of 1, cached: 1 ✔
// [7e/357886] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:UNTAR_KRAKEN2_DB (kraken2_hs22.tar.gz)                                   [100%] 1 of 1, cached: 1 ✔
// [0a/2ad620] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:COLLAPSE_PRIMERS (nCoV-2019.primer.bed)                                  [100%] 1 of 1, cached: 1 ✔
// [e0/a1eb24] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BEDTOOLS_GETFASTA (nCoV-2019.primer.bed)                                 [100%] 1 of 1, cached: 1 ✔
// [f1/e1533f] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BOWTIE2_BUILD (nCoV-2019.reference.fasta)                                [100%] 1 of 1, cached: 1 ✔
// [98/51f7a0] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BLAST_MAKEBLASTDB (nCoV-2019.reference.fasta)                            [100%] 1 of 1, cached: 1 ✔
// [3f/d6ca92] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:SNPEFF_BUILD (nCoV-2019.reference.fasta)                                 [100%] 1 of 1, cached: 1 ✔
// [bd/ef7dbb] process > NFCORE_VIRALRECON:ILLUMINA:CAT_FASTQ (SAMPLE3_SE)                                                                  [100%] 1 of 1, cached: 1 ✔
// [81/30f839] process > NFCORE_VIRALRECON:ILLUMINA:FASTQC_FASTP:FASTQC_RAW (SAMPLE3_SE)                                                    [100%] 3 of 3, cached: 3 ✔
// [c2/96c7f7] process > NFCORE_VIRALRECON:ILLUMINA:FASTQC_FASTP:FASTP (SAMPLE3_SE)                                                         [100%] 3 of 3, cached: 3 ✔
// [c7/74c320] process > NFCORE_VIRALRECON:ILLUMINA:FASTQC_FASTP:FASTQC_TRIM (SAMPLE3_SE)                                                   [100%] 3 of 3, cached: 3 ✔
// [-        ] process > NFCORE_VIRALRECON:ILLUMINA:MULTIQC_TSV_FAIL_READS                                                                  -
// [ce/942714] process > NFCORE_VIRALRECON:ILLUMINA:KRAKEN2_KRAKEN2 (SAMPLE2_PE)                                                            [100%] 3 of 3, cached: 3 ✔
// [91/b5ff71] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BOWTIE2_ALIGN (SAMPLE2_PE)                                                [100%] 3 of 3, cached: 3 ✔
// [64/fe7afd] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT (SAMPLE2_PE)                              [100%] 3 of 3, cached: 3 ✔
// [3e/c23afd] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX (SAMPLE2_PE)                             [100%] 3 of 3, cached: 3 ✔
// [59/4fa196] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS (SAMPLE2_PE)          [100%] 3 of 3, cached: 3 ✔
// [bf/cf3287] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT (SAMPLE1_PE)       [100%] 3 of 3, cached: 3 ✔
// [7f/d5a75e] process > NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS (SAMPLE1_PE)       [100%] 3 of 3, cached: 3 ✔
// [-        ] process > NFCORE_VIRALRECON:ILLUMINA:MULTIQC_TSV_FAIL_MAPPED                                                                 -
// [4d/24d695] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:IVAR_TRIM (SAMPLE3_SE)                                                 [100%] 3 of 3, cached: 3 ✔
// [10/349910] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:BAM_SORT_SAMTOOLS:SAMTOOLS_SORT (SAMPLE2_PE)                           [100%] 3 of 3, cached: 3 ✔
// [ae/fca4ac] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:BAM_SORT_SAMTOOLS:SAMTOOLS_INDEX (SAMPLE1_PE)                          [100%] 3 of 3, cached: 3 ✔
// [34/5187eb] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS (SAMPLE2_PE)       [100%] 3 of 3, cached: 3 ✔
// [b0/1240eb] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT (SAMPLE1_PE)    [100%] 3 of 3, cached: 3 ✔
// [56/f23b7a] process > NFCORE_VIRALRECON:ILLUMINA:PRIMER_TRIM_IVAR:BAM_SORT_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS (SAMPLE1_PE)    [100%] 3 of 3, cached: 3 ✔
// [19/b14f8d] process > NFCORE_VIRALRECON:ILLUMINA:PICARD_COLLECTMULTIPLEMETRICS (SAMPLE3_SE)                                              [100%] 3 of 3, cached: 3 ✔
// [81/ca1f92] process > NFCORE_VIRALRECON:ILLUMINA:MOSDEPTH_GENOME (SAMPLE1_PE)                                                            [100%] 3 of 3, cached: 3 ✔
// [90/0377d9] process > NFCORE_VIRALRECON:ILLUMINA:PLOT_MOSDEPTH_REGIONS_GENOME                                                            [100%] 1 of 1, cached: 1 ✔
// [10/9c237e] process > NFCORE_VIRALRECON:ILLUMINA:MOSDEPTH_AMPLICON (SAMPLE3_SE)                                                          [100%] 3 of 3, cached: 3 ✔
// [c3/53f277] process > NFCORE_VIRALRECON:ILLUMINA:PLOT_MOSDEPTH_REGIONS_AMPLICON                                                          [100%] 1 of 1, cached: 1 ✔
// [00/4935d7] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:IVAR_VARIANTS (SAMPLE1_PE)                                                [100%] 3 of 3, cached: 3 ✔
// [91/4a4b5a] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:IVAR_VARIANTS_TO_VCF (SAMPLE1_PE)                                         [100%] 3 of 3, cached: 3 ✔
// [1b/f1c791] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VCF_BGZIP_TABIX_STATS:TABIX_BGZIP (SAMPLE1_PE)                            [100%] 3 of 3, cached: 3 ✔
// [67/5d86e8] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:TABIX_TABIX (SAMPLE1_PE)            [100%] 3 of 3, cached: 3 ✔
// [ad/b6b890] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:BCFTOOLS_STATS (SAMPLE1_PE)         [100%] 3 of 3, cached: 3 ✔
// [db/9b0548] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:IVAR_CONSENSUS (SAMPLE1_PE)                                               [100%] 3 of 3, cached: 3 ✔
// [e8/931336] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:PLOT_BASE_DENSITY (SAMPLE1_PE.fa)                                         [100%] 3 of 3, cached: 3 ✔
// [0f/2c07f7] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:BCFTOOLS_MPILEUP (SAMPLE1_PE)                                         [100%] 3 of 3, cached: 3 ✔
// [30/99709e] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:BEDTOOLS_GENOMECOV (SAMPLE3_SE)                        [100%] 3 of 3, cached: 3 ✔
// [1f/98d75f] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:BEDTOOLS_MERGE (SAMPLE3_SE)                            [100%] 3 of 3, cached: 3 ✔
// [c0/150f35] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:MAKE_BED_MASK (SAMPLE2_PE)                             [100%] 3 of 3, cached: 3 ✔
// [cb/9ff9c5] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:BEDTOOLS_MASKFASTA (SAMPLE2_PE)                        [100%] 3 of 3, cached: 3 ✔
// [c3/b3093f] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:BCFTOOLS_CONSENSUS (SAMPLE2_PE)                        [100%] 3 of 3, cached: 3 ✔
// [0e/c228d8] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:MAKE_CONSENSUS:PLOT_BASE_DENSITY (SAMPLE2_PE.consensus.fa)            [100%] 3 of 3, cached: 3 ✔
// [52/e549df] process > NFCORE_VIRALRECON:ILLUMINA:BCFTOOLS_ISEC (SAMPLE1_PE)                                                              [100%] 3 of 3, cached: 3 ✔
// [c2/3daa1f] process > NFCORE_VIRALRECON:ILLUMINA:CUTADAPT (SAMPLE2_PE)                                                                   [100%] 3 of 3, cached: 3 ✔
// [e6/2e9f10] process > NFCORE_VIRALRECON:ILLUMINA:FASTQC (SAMPLE2_PE)                                                                     [100%] 3 of 3, cached: 3 ✔


// TO CHECK
// [9d/c26c56] process > NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:GUNZIP_GFF (GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz)           [100%] 1 of 1, cached: 1 ✔


/// DONE
// [db/851f73] process > NFCORE_VIRALRECON:ILLUMINA:MULTIQC (1)                                                                             [100%] 1 of 1 ✔
// [48/ea84f5] process > NFCORE_VIRALRECON:ILLUMINA:INPUT_CHECK:SAMPLESHEET_CHECK (samplesheet_test_illumina_amplicon.csv)                  [100%] 1 of 1, cached: 1 ✔
// [5c/9bfbb1] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:QUAST                                                                     [100%] 1 of 1, cached: 1 ✔
// [c3/e76dbb] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:PANGOLIN (SAMPLE1_PE)                                                     [100%] 3 of 3, cached: 3 ✔
// [ed/6db1b4] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:NEXTCLADE (SAMPLE1_PE)                                                    [100%] 3 of 3, cached: 3 ✔
// [9c/5a39db] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:QUAST                                                                 [100%] 1 of 1, cached: 1 ✔
// [e7/264a0a] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:PANGOLIN (SAMPLE2_PE)                                                 [100%] 3 of 3, cached: 3 ✔
// [dc/9166e3] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:NEXTCLADE (SAMPLE2_PE)                                                [100%] 3 of 3, cached: 3 ✔
// [14/d24c1b] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:ASCIIGENOME (SAMPLE3_SE)                                                  [100%] 3 of 3, cached: 3 ✔
// [f1/1aa54b] process > NFCORE_VIRALRECON:ILLUMINA:VARIANTS_BCFTOOLS:ASCIIGENOME (SAMPLE3_SE)
// [1a/d818b0] process > NFCORE_VIRALRECON:ILLUMINA:CUSTOM_DUMPSOFTWAREVERSIONS (1)                                                         [100%] 1 of 1 ✔





//         'illumina_bedtools_getfasta' {
//             args            = '-s -nameOnly'
//             publish_dir     = 'genome'
//         }
//         'illumina_collapse_primers_illumina' {
//             publish_dir     = 'genome'
//         }
//         'illumina_bowtie2_build' {
//             args            = '--seed 1'
//             publish_dir     = 'genome/index'
//         }
//         'illumina_snpeff_build' {
//             publish_dir     = 'genome/db'
//         }
//         'illumina_blast_makeblastdb' {
//             args            = '-parse_seqids -dbtype nucl'
//             publish_dir     = 'genome/db'
//         }
//         'illumina_kraken2_build' {
//             args            = ''
//             args2           = ''
//             args3           = ''
//             publish_dir     = 'genome/db'
//         }
//         'illumina_cat_fastq' {
//             publish_files   = false
//             publish_dir     = 'fastq'
//         }
//         'illumina_fastqc_raw' {
//             args            = '--quiet'
//             publish_dir     = 'fastqc/raw'
//         }
//         'illumina_fastqc_trim' {
//             args            = '--quiet'
//             publish_dir     = 'fastqc/trim'
//         }
//         'illumina_fastp' {
//             args            = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
//             publish_files   = ['json':'', 'html':'', 'log': 'log']
//         }
//         'illumina_kraken2_kraken2' {
//             args            = '--report-zero-counts'
//             publish_files   = ['txt':'']
//         }
//         'illumina_bowtie2_align' {
//             args            = '--local --very-sensitive-local --seed 1'
//             args2           = '-F4'
//             publish_files   = ['log':'log']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_bowtie2_sort_bam' {
//             suffix          = '.sorted'
//             publish_files   = ['bam':'', 'bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_ivar_trim' {
//             args            = '-m 30 -q 20'
//             suffix          = '.ivar_trim'
//             publish_files   = ['log':'log']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_ivar_trim_sort_bam' {
//             suffix          = '.ivar_trim.sorted'
//             publish_files   = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_picard_markduplicates' {
//             args            = 'ASSUME_SORTED=true VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp'
//             suffix          = '.markduplicates.sorted'
//             publish_files   = ['bam': '', 'metrics.txt':'picard_metrics']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_picard_markduplicates_sort_bam' {
//             suffix          = '.markduplicates.sorted'
//             publish_files   = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_picard_collectmultiplemetrics' {
//             args            = 'VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp'
//             publish_files   = ['metrics':'picard_metrics', 'pdf': 'picard_metrics/pdf']
//             publish_dir     = 'variants/bowtie2'
//         }
//         'illumina_mosdepth_genome' {
//             args            = '--fast-mode'
//             publish_files   = ['summary.txt':'']
//             publish_dir     = 'variants/bowtie2/mosdepth/genome'
//         }
//         'illumina_plot_mosdepth_regions_genome' {
//             args            = '--input_suffix .regions.bed.gz'
//             publish_files   = ['tsv':'', 'pdf': '']
//             publish_dir     = 'variants/bowtie2/mosdepth/genome'
//         }
//         'illumina_mosdepth_amplicon' {
//             args            = '--fast-mode --use-median --thresholds 0,1,10,50,100,500'
//             publish_files   = ['summary.txt':'']
//             publish_dir     = 'variants/bowtie2/mosdepth/amplicon'
//         }
//         'illumina_plot_mosdepth_regions_amplicon' {
//             args            = '--input_suffix .regions.bed.gz'
//             publish_files   = ['tsv':'', 'pdf': '']
//             publish_dir     = 'variants/bowtie2/mosdepth/amplicon'
//         }
//         'illumina_ivar_variants' {
//             args            = '-t 0.25 -q 20 -m 10'
//             args2           = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
//             publish_dir     = 'variants/ivar'
//         }
//         'illumina_ivar_variants_to_vcf' {
//             publish_files   = ['log':'log']
//             publish_dir     = 'variants/ivar'
//         }
//         'illumina_ivar_tabix_bgzip' {
//             publish_dir     = 'variants/ivar'
//         }
//         'illumina_ivar_tabix_tabix' {
//             args            = '-p vcf -f'
//             publish_dir     = 'variants/ivar'
//         }
//         'illumina_ivar_bcftools_stats' {
//             publish_files   = ['txt':'bcftools_stats']
//             publish_dir     = 'variants/ivar'
//         }
//         'illumina_ivar_consensus' {
//             args            = '-t 0.75 -q 20 -m 10 -n N'
//             args2           = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
//             suffix          = '.consensus'
//             publish_dir     = 'variants/ivar/consensus'
//         }
//         'illumina_ivar_consensus_plot' {
//             suffix          = '.consensus'
//             publish_dir     = 'variants/ivar/consensus/base_qc'
//         }
//         'illumina_ivar_snpeff' {
//             publish_files   = ['csv':'', 'txt':'', 'html':'']
//             publish_dir     = 'variants/ivar/snpeff'
//         }
//         'illumina_ivar_snpeff_bgzip' {
//             suffix          = '.snpeff'
//             publish_dir     = 'variants/ivar/snpeff'
//         }
//         'illumina_ivar_snpeff_tabix' {
//             args            = '-p vcf -f'
//             suffix          = '.snpeff'
//             publish_dir     = 'variants/ivar/snpeff'
//         }
//         'illumina_ivar_snpeff_stats' {
//             suffix          = '.snpeff'
//             publish_files   = ['txt':'bcftools_stats']
//             publish_dir     = 'variants/ivar/snpeff'
//         }
//         'illumina_ivar_snpsift' {
//             publish_dir     = 'variants/ivar/snpeff'
//         }
//         'illumina_bcftools_mpileup' {
//             args            = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR'
//             args2           = '--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only'
//             args3           = "--include 'INFO/DP>=10'"
//             publish_files   = ['gz':'', 'gz.tbi':'', 'stats.txt':'bcftools_stats']
//             publish_dir     = 'variants/bcftools'
//         }
//         'illumina_bcftools_consensus_genomecov' {
//             args            = "-bga | awk '\$4 < 10'"
//             suffix          = '.coverage'
//             publish_files   = false
//             publish_dir     = 'variants/bcftools'
//         }
//         'illumina_bcftools_consensus_merge' {
//             suffix          = '.coverage.merged'
//             publish_files   = false
//             publish_dir     = 'variants/bcftools'
//         }
//         'illumina_bcftools_consensus_mask' {
//             suffix          = '.coverage.masked'
//             publish_files   = false
//             publish_dir     = 'variants/bcftools'
//         }
//         'illumina_bcftools_consensus_maskfasta' {
//             suffix          = '.masked'
//             publish_files   = false
//             publish_dir     = 'variants/bcftools'
//         }
//         'illumina_bcftools_consensus_bcftools' {
//             suffix          = '.consensus'
//             publish_dir     = 'variants/bcftools/consensus'
//         }
//         'illumina_bcftools_consensus_plot' {
//             suffix          = '.consensus'
//             publish_dir     = 'variants/bcftools/consensus/base_qc'
//         }
//         'illumina_bcftools_snpeff' {
//             publish_files   = ['csv':'', 'txt':'', 'html':'']
//             publish_dir     = 'variants/bcftools/snpeff'
//         }
//         'illumina_bcftools_snpeff_bgzip' {
//             suffix          = '.snpeff'
//             publish_dir     = 'variants/bcftools/snpeff'
//         }
//         'illumina_bcftools_snpeff_tabix' {
//             args            = '-p vcf -f'
//             suffix          = '.snpeff'
//             publish_dir     = 'variants/bcftools/snpeff'
//         }
//         'illumina_bcftools_snpeff_stats' {
//             suffix          = '.snpeff'
//             publish_files   = ['txt':'bcftools_stats']
//             publish_dir     = 'variants/bcftools/snpeff'
//         }
//         'illumina_bcftools_snpsift' {
//             publish_dir     = 'variants/bcftools/snpeff'
//         }
//         'illumina_bcftools_isec' {
//             args            = '--nfiles +2 --output-type z'
//             publish_dir     = 'variants/intersect'
//         }






//         'illumina_cutadapt' {
//             args            = '--overlap 5 --minimum-length 30 --error-rate 0.1'
//             suffix          = '.primer_trim'
//             publish_files   = ['log':'log']
//             publish_dir     = 'assembly/cutadapt'
//         }
//         'illumina_cutadapt_fastqc' {
//             args            = '--quiet'
//             suffix          = 'primer_trim'
//             publish_dir     = 'assembly/cutadapt/fastqc'
//         }
//         'illumina_spades' {
//             args            = ''
//             publish_files   = ['log':'log', 'fa':'', 'gfa':'']
//             publish_dir     = "assembly/spades/${params.spades_mode}"
//         }
//         'illumina_spades_bandage' {
//             args            = '--height 1000'
//             publish_dir     = "assembly/spades/${params.spades_mode}/bandage"
//         }
//         'illumina_spades_blastn' {
//             args            = "-outfmt '6 stitle std slen qlen qcovs'"
//             publish_dir     = "assembly/spades/${params.spades_mode}/blastn"
//         }
//         'illumina_spades_blastn_filter' {
//             suffix          = '.filter.blastn'
//             publish_dir     = "assembly/spades/${params.spades_mode}/blastn"
//         }
//         'illumina_spades_abacas' {
//             args            = '-m -p nucmer'
//             publish_dir     = "assembly/spades/${params.spades_mode}/abacas"
//         }
//         'illumina_spades_plasmidid' {
//             args            = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim -k 0.80'
//             publish_files   = ['html':'', 'tab':'', 'logs':'', 'images':'']
//             publish_dir     = "assembly/spades/${params.spades_mode}/plasmidid"
//         }
//         'illumina_spades_quast' {
//             publish_files   = ['quast':'']
//             publish_dir     = "assembly/spades/${params.spades_mode}"
//         }
//         'illumina_unicycler' {
//             publish_files   = ['log':'log', 'fa':'', 'gfa':'']
//             publish_dir     = 'assembly/unicycler'
//         }
//         'illumina_unicycler_bandage' {
//             args            = '--height 1000'
//             publish_dir     = 'assembly/unicycler/bandage'
//         }
//         'illumina_unicycler_blastn' {
//             args            = "-outfmt '6 stitle std slen qlen qcovs'"
//             publish_dir     = 'assembly/unicycler/blastn'
//         }
//         'illumina_unicycler_blastn_filter' {
//             suffix          = '.filter.blastn'
//             publish_dir     = 'assembly/unicycler/blastn'
//         }
//         'illumina_unicycler_abacas' {
//             args            = '-m -p nucmer'
//             publish_dir     = 'assembly/unicycler/abacas'
//         }
//         'illumina_unicycler_plasmidid' {
//             args            = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim -k 0.80'
//             publish_files   = ['html':'', 'tab':'', 'logs':'', 'images':'']
//             publish_dir     = 'assembly/unicycler/plasmidid'
//         }
//         'illumina_unicycler_quast' {
//             publish_files   = ['quast':'']
//             publish_dir     = 'assembly/unicycler'
//         }
//         'illumina_minia' {
//             args            = '-kmer-size 31 -abundance-min 20'
//             publish_dir     = 'assembly/minia'
//         }
//         'illumina_minia_blastn' {
//             args            = "-outfmt '6 stitle std slen qlen qcovs'"
//             publish_dir     = 'assembly/minia/blastn'
//         }
//         'illumina_minia_blastn_filter' {
//             suffix          = '.filter.blastn'
//             publish_dir     = 'assembly/minia/blastn'
//         }
//         'illumina_minia_abacas' {
//             args            = '-m -p nucmer'
//             publish_dir     = 'assembly/minia/abacas'
//         }
//         'illumina_minia_plasmidid' {
//             args            = '--only-reconstruct -C 47 -S 47 -i 60 --no-trim -k 0.80'
//             publish_files   = ['html':'', 'tab':'', 'logs':'', 'images':'']
//             publish_dir     = 'assembly/minia/plasmidid'
//         }
//         'illumina_minia_quast' {
//             publish_files   = ['quast':'']
//             publish_dir     = 'assembly/minia'
//         }
