/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'sra_ids_to_runinfo' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_runinfo_to_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_fastq_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['fastq.gz':'', 'md5':'md5']
        }
        'sra_to_samplesheet' {
            publish_dir   = 'public_data'
            publish_files = false
        }
        'sra_merge_samplesheet' {
            publish_dir   = 'public_data'
        }
        'bedtools_getfasta' {
            args          = "-s -nameOnly"
            suffix        = "primers"
            publish_dir   = "genome"
        }
        'bowtie2_build' {
            args          = "--seed 1"
            publish_dir   = "genome/index"
        }
        'snpeff_build' {
            publish_dir   = "genome/db"
        }
        'blast_makeblastdb' {
            args          = "-parse_seqids -dbtype nucl"
            publish_dir   = "genome/db"
        }
        'kraken2_build' {
            args          = "--use-ftp"
            args2         = "--use-ftp"
            args3         = "--use-ftp"
            publish_dir   = "genome/db"
        }
        'cat_fastq' {
            publish_dir   = 'fastq'
        }
        'fastqc_raw' {
            args          = "--quiet"
            publish_dir   = 'fastqc/raw'
        }
        'fastqc_trim' {
            args          = "--quiet"
            publish_dir   = 'fastqc/trim'
        }
        'fastp' {
            args          = "--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50"
            publish_files = ['json':'', 'html':'', 'log': 'log']
        }
        'bowtie2_align' {
            args          = "--local --very-sensitive-local --seed 1"
            args2         = ""
            publish_files = ['log':'log']
        }
        'bowtie2_sort_bam' {
            suffix        = ".sorted"
            publish_files = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'filter_bam' {
            args          = "-b -F 4"
            suffix        = ".mapped"
            publish_dir   = "bowtie2"
        }
        'filter_bam_sort_bam' {
            suffix        = ".mapped"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'ivar_trim' {
            args          = "-m 20 -q 20 -s 4"
            suffix        = ".ivar_trim"
            publish_files = ['bam': '', 'log':'log']
            publish_dir   = "bowtie2"
        }
        'ivar_trim_sort_bam' {
            suffix        = ".ivar_trim.sorted"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'picard_markduplicates' {
            args          = "ASSUME_SORTED=true VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix        = ".markduplicates.sorted"
            publish_files = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir   = "bowtie2"
        }
        'picard_markduplicates_sort_bam' {
            suffix        = ".markduplicates.sorted"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'picard_collectmultiplemetrics' {
            args          = ""
            suffix        = ""
            publish_files = ['metrics':'picard_metrics', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'picard_collectwgsmetrics' {
            args          = "COVERAGE_CAP=1000000 VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix        = ""
            publish_files = ['metrics':'picard_metrics', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'collapse_amplicons' {
            publish_files = false
        }
        'mosdepth_genome' {
            args          = "--fast-mode"
            publish_files = ['tsv':'tsv', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'plot_mosdepth_regions_genome' {
            args          = "--input_suffix .regions.bed.gz"
            publish_dir   = "bowtie2"
        }
        'mosdepth_amplicon' {
            args          = "--fast-mode --use-median --thresholds 0,1,10,50,100,500"
            publish_files = ['tsv':'tsv', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'plot_mosdepth_regions_amplicon' {
            args          = ""
            publish_dir   = "bowtie2"
        }
        'samtools_mpileup' {
            args          = "--count-orphans --ignore-overlaps --no-BAQ --max-depth 0 --min-BQ 20"
            publish_dir   = "mpileup"
        }
        'varscan_mpileup2cns' {
            args          = "--min-reads2 5 --p-value 0.99 --output-vcf 1 --variants --min-coverage 10 --min-avg-qual 20"
            publish_dir   = "varscan"
        }
        'varscan_bgzip' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_stats' {
            args          = ""
            suffix        = ""
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter' {
            args          = "--output-type z"
            suffix        = ".AF${params.max_allele_freq}"
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter_stats' {
            args          = ""
            suffix        = ".AF${params.max_allele_freq}"
            publish_dir   = "varscan"
        }
        'varscan_consensus_genomecov' {
            args          = "-bga | awk '\$4 < 10'"
            publish_dir   = "varscan"
        }
        'varscan_consensus_merge' {
            args          = ""
            suffix        = ".merged"
            publish_dir   = "varscan"
        }
        'varscan_consensus_mask' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_maskfasta' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_bcftools' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_plot' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "varscan"
        }
        'varscan_snpeff_lowfreq' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpeff_lowfreq_bgzip' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpeff_lowfreq_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_snpeff_lowfreq_stats' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpsift_lowfreq' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpeff_highfreq' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpeff_highfreq_bgzip' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpeff_highfreq_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_snpeff_highfreq_stats' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpsift_highfreq' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_quast' {
            args          = ""
            publish_dir   = "varscan"
        }
        'ivar_variants' {
            args          = "-q 20 -m 10"
            publish_dir   = "ivar"
        }
        'ivar_variants_to_vcf_lowfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_bgzip_lowfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_tabix_lowfreq' {
            args          = "-p vcf -f"
            publish_dir   = "ivar"
        }
        'ivar_stats_lowfreq' {
            args          = ""
            suffix        = ""
            publish_dir   = "ivar"
        }
        'ivar_variants_to_vcf_highfreq' {
            args          = "--pass_only"
            publish_dir   = "ivar"
        }
        'ivar_bgzip_highfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_tabix_highfreq' {
            args          = "-p vcf -f"
            publish_dir   = "ivar"
        }
        'ivar_stats_highfreq' {
            args          = ""
            suffix        = ""
            publish_dir   = "ivar"
        }
        'ivar_consensus' {
            args          = "-q 20 -m 10 -n N"
            publish_dir   = "ivar"
        }
        'ivar_snpeff_lowfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff_lowfreq_bgzip' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff_lowfreq_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "ivar"
        }
        'ivar_snpeff_lowfreq_stats' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpsift_lowfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff_highfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff_highfreq_bgzip' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff_highfreq_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "ivar"
        }
        'ivar_snpeff_highfreq_stats' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpsift_highfreq' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_quast' {
            args          = ""
            publish_dir   = "ivar"
        }
        'bcftools_mpileup' {
            args          = "--count-orphans --no-BAQ --max-depth 0 --min-BQ 20 --annotate FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP,INFO/AD,INFO/ADF,INFO/ADR"
            args2         = "--ploidy 1 --keep-alts --keep-masked-ref --multiallelic-caller --variants-only"
            args3         = "--include 'INFO/DP>=10"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_genomecov' {
            args          = "-bga | awk '\$4 < 10'"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_merge' {
            args          = ""
            suffix        = ".merged"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_mask' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_maskfasta' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_bcftools' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "bcftools"
        }
        'bcftools_consensus_plot' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "bcftools"
        }
        'bcftools_snpeff' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_snpeff_bgzip' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_snpeff_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "bcftools"
        }
        'bcftools_snpeff_stats' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_snpsift' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_quast' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_isec' {
            args          = "--nfiles +2 --output-type z"
            publish_dir   = "intersect"
        }
        'cutadapt' {
            args          = "--overlap 5 --minimum-length 30 --error-rate 0.1"
            suffix        = "cutadapt"
            publish_dir   = "cutadapt"
        }
        'cutadapt_fastqc' {
            args          = "--quiet"
            publish_dir   = ".cutadapt"
        }
        'kraken2_run' {
            args          = "--report-zero-counts"
            publish_dir   = "kraken2"
        }
        'spades' {
            args          = ""
            publish_dir   = "spades"
        }
        'spades_bandage' {
            args          = "--height 1000"
            publish_dir   = "spades"
        }
        'spades_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = "spades"
        }
        'spades_abacas' {
            args          = "-m -p nucmer"
            publish_dir   = "spades"
        }
        'spades_plasmidid' {
            args          = "--only-reconstruct -C 47 -S 47 -i 60 --no-trim"
            publish_dir   = "spades"
        }
        'spades_quast' {
            args          = ""
            publish_dir   = "spades"
        }
        'spades_snpeff' {
            args          = ""
            publish_dir   = "spades"
        }
        'spades_snpeff_bgzip' {
            args          = ""
            publish_dir   = "spades"
        }
        'spades_snpeff_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "spades"
        }
        'spades_snpeff_stats' {
            args          = ""
            publish_dir   = "spades"
        }
        'spades_snpsift' {
            args          = ""
            publish_dir   = "spades"
        }
        'unicycler' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'unicycler_bandage' {
            args          = "--height 1000"
            publish_dir   = "unicycler"
        }
        'unicycler_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = "unicycler"
        }
        'unicycler_abacas' {
            args          = "-m -p nucmer"
            publish_dir   = "unicycler"
        }
        'unicycler_plasmidid' {
            args          = "--only-reconstruct -C 47 -S 47 -i 60 --no-trim"
            publish_dir   = "unicycler"
        }
        'unicycler_quast' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'unicycler_snpeff' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'unicycler_snpeff_bgzip' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'unicycler_snpeff_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "unicycler"
        }
        'unicycler_snpeff_stats' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'unicycler_snpsift' {
            args          = ""
            publish_dir   = "unicycler"
        }
        'minia' {
            args          = "-kmer-size 31 -abundance-min 20"
            publish_dir   = "minia"
        }
        'minia_blastn' {
            args          = "-outfmt '6 stitle std slen qlen qcovs'"
            publish_dir   = "minia"
        }
        'minia_abacas' {
            args          = "-m -p nucmer"
            publish_dir   = "minia"
        }
        'minia_plasmidid' {
            args          = "--only-reconstruct -C 47 -S 47 -i 60 --no-trim"
            publish_dir   = "minia"
        }
        'minia_quast' {
            args          = ""
            publish_dir   = "minia"
        }
        'minia_snpeff' {
            args          = ""
            publish_dir   = "minia"
        }
        'minia_snpeff_bgzip' {
            args          = ""
            publish_dir   = "minia"
        }
        'minia_snpeff_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "minia"
        }
        'minia_snpeff_stats' {
            args          = ""
            publish_dir   = "minia"
        }
        'minia_snpsift' {
            args          = ""
            publish_dir   = "minia"
        }
        'multiqc' {
            args          = ""
        }
    }
}
