/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'sra_ids_to_runinfo' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_runinfo_to_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['tsv':'runinfo']
        }
        'sra_fastq_ftp' {
            publish_dir   = 'public_data'
            publish_files = ['fastq.gz':'', 'md5':'md5']
        }
        'sra_to_samplesheet' {
            publish_dir   = 'public_data'
            publish_files = false
        }
        'sra_merge_samplesheet' {
            publish_dir   = 'public_data'
        }
        'cat_fastq' {
            publish_dir   = 'fastq'
        }
        'fastqc_raw' {
            args          = "--quiet"
            publish_dir   = 'fastqc/raw'
        }
        'fastqc_trim' {
            args          = "--quiet"
            publish_dir   = 'fastqc/trim'
        }
        'fastp' {
            args          = "--cut_front --cut_tail --trim_poly_x"
            publish_files = ['json':'', 'html':'', 'log': 'log']
        }
        'bowtie2_build' {
            args          = "--seed 1"
            publish_dir   = "genome/index"
        }
        'bowtie2_align' {
            args          = "--local --very-sensitive-local --seed 1"
            args2         = ""
            publish_files = ['log':'log']
        }
        'bowtie2_sort_bam' {
            suffix        = ".sorted"
            publish_files = ['stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'filter_bam' {
            args          = "-b -F 4"
            suffix        = ".mapped"
            publish_dir   = "bowtie2"
        }
        'filter_bam_sort_bam' {
            suffix        = ".mapped"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'ivar_trim' {
            args          = ""
            suffix        = ".ivar_trim"
            publish_files = ['bam': '', 'log':'log']
            publish_dir   = "bowtie2"
        }
        'ivar_trim_sort_bam' {
            suffix        = ".ivar_trim.sorted"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'picard_markduplicates' {
            args          = "ASSUME_SORTED=true VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix        = ".markduplicates.sorted"
            publish_files = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir   = "bowtie2"
        }
        'picard_markduplicates_sort_bam' {
            suffix        = ".markduplicates.sorted"
            publish_files = ['bai':'', 'stats':'samtools_stats', 'flagstat':'samtools_stats', 'idxstats':'samtools_stats']
            publish_dir   = "bowtie2"
        }
        'picard_collectmultiplemetrics' {
            args          = ""
            suffix        = ""
            publish_files = ['metrics':'picard_metrics', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'picard_collectwgsmetrics' {
            args          = "COVERAGE_CAP=1000000 VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix        = ""
            publish_files = ['metrics':'picard_metrics', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'collapse_amplicons' {
            publish_files = false
        }
        'mosdepth_genome' {
            args          = "--fast-mode"
            publish_files = ['tsv':'tsv', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'mosdepth_amplicon' {
            args          = "--fast-mode --use-median --thresholds 0,1,10,50,100,500"
            publish_files = ['tsv':'tsv', 'pdf': 'pdf']
            publish_dir   = "bowtie2"
        }
        'samtools_mpileup' {
            args          = "--count-orphans --ignore-overlaps --no-BAQ"
            publish_dir   = "mpileup"
        }
        'varscan_mpileup2cns' {
            args          = "--min-reads2 5 --p-value 0.99 --output-vcf 1 --variants"
            publish_dir   = "varscan"
        }
        'varscan_bgzip' {
            args          = "-c"
            publish_dir   = "varscan"
        }
        'varscan_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_stats' {
            args          = ""
            suffix        = ".bcftools_stats"
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter' {
            args          = "--output-type z"
            suffix        = ".AF${params.max_allele_freq}"
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter_tabix' {
            args          = "-p vcf -f"
            publish_dir   = "varscan"
        }
        'varscan_bcftools_filter_stats' {
            args          = ""
            suffix        = ".AF${params.max_allele_freq}.bcftools_stats"
            publish_dir   = "varscan"
        }
        'varscan_consensus_genomecov' {
            args          = "-bga"
            publish_dir   = "varscan"
        }
        'varscan_consensus_merge' {
            args          = ""
            suffix        = ".merged"
            publish_dir   = "varscan"
        }
        'varscan_consensus_mask' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_maskfasta' {
            args          = ""
            suffix        = ".masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_bcftools' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "varscan"
        }
        'varscan_consensus_plot' {
            args          = ""
            suffix        = ".consensus.masked"
            publish_dir   = "varscan"
        }
        'varscan_snpeff' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_snpsift' {
            args          = ""
            publish_dir   = "varscan"
        }
        'varscan_quast' {
            args          = ""
            publish_dir   = "varscan"
        }
        'ivar_variants' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_consensus' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_snpeff' {
            args          = ""
            publish_dir   = "ivar"
        }
        'ivar_quast' {
            args          = ""
            publish_dir   = "ivar"
        }
        'bcftools_variants' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_consensus' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_snpeff' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'bcftools_quast' {
            args          = ""
            publish_dir   = "bcftools"
        }
        'multiqc' {
            args          = ""
        }
    }
}
