/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full test of amplicon analysis
    input              = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/v2.6/samplesheet_full_amplicon_illumina.csv'
    platform           = 'illumina'
    protocol           = 'amplicon'
    primer_set         = 'artic'
    primer_set_version = 3

    // Genome references
    genome = 'MN908947.3'

    // Variant calling options
    variant_caller = 'ivar'
    freyja_repeats = 10

    // Assembly options
    assemblers     = 'spades,unicycler,minia'

    // Fasta references
    fasta = params.pipelines_testdata_base_path + 'viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.fna.gz'
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
