/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_nanopore,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for Nanopore data'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data to test nanopore analysis
    platform           = 'nanopore'
    input              = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_nanopore.csv'
    fastq_dir          = 's3://nf-core-awsmegatests/viralrecon/input_data/minion_test/fastq_pass/'
    fast5_dir          = 's3://nf-core-awsmegatests/viralrecon/input_data/minion_test/fast5_pass/'
    sequencing_summary = 's3://nf-core-awsmegatests/viralrecon/input_data/minion_test/sequencing_summary.txt'

    // Genome references
    genome             = 'MN908947.3'
    primer_set_version = 3

    // Other parameters
    artic_minion_medaka_model = 's3://nf-core-awsmegatests/viralrecon/input_data/minion_test/r941_min_high_g360_model.hdf5'
}
