/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data to test amplicon analysis
    input              = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/v2.6/samplesheet_test_amplicon_illumina.csv'
    platform           = 'illumina'
    protocol           = 'amplicon'
    primer_set         = 'artic'
    primer_set_version = 1

    // Genome references
    genome     = 'MN908947.3'
    kraken2_db = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/genome/kraken2/kraken2_hs22.tar.gz'

    // Variant calling options
    variant_caller = 'ivar'
    freyja_repeats = 10

    // Assembly options
    assemblers     = 'spades,unicycler'
}
