/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_full_nanopore,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for nanopore data'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full test of amplicon analysis
    platform                   = 'nanopore'
    input                      = "${params.pipelines_testdata_base_path}/samplesheet/v2.6/samplesheet_full_amplicon_nanopore.csv"
    fastq_dir                  = 's3://ngi-igenomes/test-data/viralrecon/20210205_1526_X4_FAP51364_21fa8135/fastq_pass/'
    sequencing_summary         = 's3://ngi-igenomes/test-data/viralrecon/20210205_1526_X4_FAP51364_21fa8135/sequencing_summary.txt'

    // Genome references
    genome                     = 'MN908947.3'
    primer_set                 = 'artic'
    primer_set_version         = 3
    kraken2_db                 = "${params.pipelines_testdata_base_path}/genome/kraken2/kraken2_hs22.tar.gz"

    // variant calling options
    clair3_model               = 'r941_prom_hac_g360+g422'
    min_mapped_reads           = 500

    // Freyja db consistency options
    freyja_repeats            = 10
    freyja_depthcutoff        = 1
    freyja_barcodes           = "${params.pipelines_testdata_base_path}/genome/freyja/usher_barcodes.feather"
    freyja_lineages_meta      = "${params.pipelines_testdata_base_path}/genome/freyja/curated_lineages.json"
    freyja_lineages_topology  = "${params.pipelines_testdata_base_path}/genome/freyja/lineages.yml"
}
