/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_ev,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data to test enterovirus metagenomics analysis
    input     = "${params.pipelines_testdata_base_path}/samplesheet/v3.0/samplesheet_test_EV.csv"
    platform  = 'illumina'
    trim_primers = false
    taxidlist = "${params.pipelines_testdata_base_path}/genome/blastdb/ev_taxidlist.txt"
    blast_db  = "${params.pipelines_testdata_base_path}/genome/blastdb/minimal_ev_db.tar.gz"

    // Genome references
    genome     = 'NC_002058.3'
    kraken2_db = "${params.pipelines_testdata_base_path}/genome/kraken2/kraken2_hs22.tar.gz"

    // Variant calling options
    skip_variants = true

    // Assembly options
    assemblers = 'spades,unicycler'
}
