/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile tes_hiv,<docker/singularity/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'HIV test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for HIV'

    // Input data to test metagenomic analysis
    input              = "${params.pipelines_testdata_base_path}/samplesheet/v3.0/samplesheet_test_hiv.csv"
    platform           = 'illumina'
    trim_primers       = false

    // Genome references
    kraken2_db = "${params.pipelines_testdata_base_path}/genome/kraken2/kraken2_hs22.tar.gz"

    genome                 = 'codfreq'
    perform_hiv_resistance = true

    // Variant calling options
    variant_caller         = 'ivar'
    consensus_caller       = 'ivar'
    skip_pangolin          = true
    skip_freyja            = true
    skip_freyja_boot       = true

    // Assembly options
    skip_assembly = true
}
