/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full pipeline test. Use as follows:
 *   nextflow run nf-core/viralrecon -profile test_full_sispa,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full test of SISPA/metagenomics analysis
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_full_sispa.csv'
  protocol = 'metagenomic'

  // Genome references
  genome = 'NC_045512.2'

}
