/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_sispa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data to test SISPA/metagenomics analysis
    input    = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_sispa.csv'
    platform = 'illumina'
    protocol = 'metagenomic'

    // Genome references
    genome     = 'MN908947.3'
    kraken2_db = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/genome/kraken2/kraken2_hs22.tar.gz'

    // Variant calling options
    variant_caller = 'bcftools'

    // Assembly options
    assemblers     = 'spades,unicycler,minia'
    skip_plasmidid = true  // Skip this by default to bypass Github Actions disk quota errors
}
