/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_nanopore,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for Nanopore data'

    // Input data to test nanopore analysis
    platform           = 'nanopore'
    input              = "${params.pipelines_testdata_base_path}/samplesheet/v2.6/samplesheet_test_amplicon_nanopore.csv"
    fastq_dir          = 's3://ngi-igenomes/test-data/viralrecon/minion_test/fastq_pass/'
    sequencing_summary = 's3://ngi-igenomes/test-data/viralrecon/minion_test/sequencing_summary.txt'

    // Genome references
    genome             = 'MN908947.3'
    primer_set         = 'artic'
    primer_set_version = 3
    kraken2_db         = "${params.pipelines_testdata_base_path}/genome/kraken2/kraken2_hs22.tar.gz"
    pango_database = "${params.pipelines_testdata_base_path}/genome/pangolin_db_v1.36.tar.gz"

    // variant calling options
    clair3_model       = 'r941_prom_hac_g360+g422'
    freyja_repeats     = 10
    skip_freyja_boot   = true
}
