/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full test of amplicon analysis
    input              = 's3://nf-core-awsmegatests/viralrecon/input_data/210212_K00102_0557_AHKN3LBBXY/samplesheet.csv'
    platform           = 'illumina'
    protocol           = 'amplicon'
    primer_set         = 'artic'
    primer_set_version = 3

    // Genome references
    genome = 'MN908947.3'

    // Variant calling options
    variant_caller = 'ivar'

    // Assembly options
    assemblers     = 'spades,unicycler,minia'
    skip_plasmidid = true  // Skip this by default to bypass Github Actions disk quota errors
}

process {
    withName: 'PLASMIDID' {
        errorStrategy = 'ignore'
    }
}
